.fifth__section{
    width: 75%;
    height: 70vh;
    margin-top: 50px;
}

.fifthSection__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.fifthSection__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fifthSection__container .fifth__section__left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 250px;

}

.fifthSection__container .fifth__section__left .fifthSection__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 100px;
}

.fifthSection__container .fifth__section__left .fifthSection__title h4{
    font-size: 18px;
    color: #00000099;
    font-weight: 700;
}

.fifthSection__container .fifth__section__left .fifthSection__title h2{
    font-size: 40px;
    margin-top: 15px;
    font-weight: 500;
    font-weight: 700;
    color: #14183E;
}

.fifthSection__circles{
    display: flex;
    height: 10px;
    width: 80px;
    justify-content: space-between;
}



.fifthSection__circles .fifthSection__circle{
    height: 100%;
    width: 10px;
    border-radius: 50%;
    background-color: #E5E5E5;
    cursor: pointer;
    transition: .5s ease;
}

.fifthSection__circles .active__dot{
    background-color: black;
}

.fifthSection__container .fifthSection__right{
    flex: 1;
    display: flex;
    
}

.fifthSection__cards{
    position: relative;

}



.fifthSection__card{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 35px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    height: 170px;
    margin-left: -20px;
    color: #5E6282;
    background-color: white;
    left: 0px;
    transform: translateX(50px);
    top: 80px;
    transition: .5s ease;
}
.fifthSection__cards .active{
    position: relative;
    z-index: 1;
    min-width: 100%;
    top: 0;
    /* left: 0; */
    transform: translateX(-50px);
    box-shadow: 0 10px 50px #00000022;
    opacity: 1;
    /* opacity: 0; */
}

.card__image{
    width: 60px;
    position: absolute;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    top: -25px;
    left: -25px;
    /* border: 3px solid #FDFDFD; */
}

.card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__quote{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    width: 90%;
}

.card__temoin p{
    margin-top: 10px;
    font-size: 14px;
}

.switching__buttons{
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    transform: translateX(100px);
    align-self: center;
}

.switching__buttons button{
    background:none;
    border: none;
    outline: none;
}

.switching__buttons i{
    font-size: 20px;
    color: #3E2E4D;
    cursor: pointer;
}

.switching__buttons button:disabled i{
    color: #BCB7C2;
}