.sponsors{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
}

.sponsors__container{
    width: 80%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sponsors__container .sponsor__logo{
    /* width: 100px; */
    object-fit: cover;
    /* width: 150px; */
    filter: grayscale(100%);
    width: 10vw;
    transition: .3s ease;
    /* height: 70px; */
    object-fit: none;
}

.sponsors__container .sponsor__logo:hover{
    filter: none;
    transform: scale(1.05);
    /* box-shadow: 0 0 10px #00000011; */
}