.third__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10vh 0;
    position: relative;
    height: 85vh;
}

.third__section h4{
    font-size: 1.4vw;
    color: #00000099;
    font-weight: 600;
}

.third__section h2{
    font-size: 3.2vw;
    margin-top: 2vh;
    font-weight: 500;
}

.third__section__destinations{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin: 4vw;
}

.third__section__destination{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1.7vw;
    border-radius: 1.5vw;
    overflow: hidden;
    box-shadow: 0px .5vh .7vw #00000011;
    transition: .3s ease;
}

.third__section__destination:hover{
    box-shadow: 0px 1vh 1vw #00000022;
    transform: scale(1.015);
}

.third__section__destination .destination__image{
    height: 100%;
    overflow: hidden;
}

.third__section__destination .destination__image img{
    width: 100%;
    height: 100%;
}

.third__section__destination .destination__info{
    padding: 2vh 1.2vw;
    padding-bottom: 3vh;
}

.third__section__destination .destination__info .destination__price{
    display: flex;
    justify-content: space-between;
}

.third__section__destination .destination__info .destination__duration{
    margin-top: 1.5vh;
    display: flex;
}

.third__section__destination .destination__info .destination__duration span{
    margin-left: 1vw;
    font-size: 1.1vw;
}

@media(max-width: 1050px){
    .third__section{
        width: 90%;
        margin: 30px 0;
    }

    .third__section h4{
        font-size: 18px;

    }

    .third__section h2{
        font-size: 32px;
    }

    .third__section__destinations{
        display: flex;
        margin: 8vw 0;
    }

    .third__section__destination{
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0px 5px 10px #0000001F;
    }

    .third__section__destination .destination__info{
        padding: 10px 8px;
        padding-bottom: 20px;
    }

    .third__section__destination .destination__info .destination__duration{
        margin-top: 15px;
        display: flex;
    }

    .third__section__destination .destination__info .destination__duration span{
        margin-left: 10px;
        font-size: 14px;
    }
    
    
}

@media(max-width: 760px){
    .third__section{
        width: 90%;
        margin: 30px 0;
        height: auto;
    }

    
    .third__section h4{
        font-size: 16px;

    }

    .third__section h2{
        font-size: 30px;
    }

    .third__section__destinations{
        display: flex;
        margin: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .third__section__destination{
        min-width: 40%;
        max-width: 40%;
    }

    .third__section__destination .destination__info{
        padding: 10px 8px;
        padding-bottom: 20px;
    }

    .third__section__destination .destination__info .destination__duration span{
        margin-left: 10px;
        font-size: 12px;
    }
}

@media(max-width: 560px){
    .third__section h4{
        font-size: 15px;

    }

    .third__section h2{
        font-size: 25px;
    }

    .third__section__destinations{
        display: flex;
        margin: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .third__section__destination{
        min-width: 90%;
        max-width: 90%;
    }

}
