.first__section{
    width: 80%;
    display: flex;
    padding: 4vw;
    height: 80vh;
    margin-left: 1.5vw;
    position: relative;
    margin-top: 5vh;
    
}

.firstsection__left{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.firstsection__left h4{
    font-weight: 700;
    font-size: 1.4vw;
    color: #DF6951;
}

.firstsection__left h2{
    font-size: 5.7vw;
    line-height: 5.8vw;
    font-weight: 500;
    font-family: 'Volkhov';

}

.firstsection__left h2 span{
    position: relative;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}
.firstsection__left h2 span img{
    position: absolute;
    top: 7vh;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: auto;
    width: 24vw;
}

.firstsection__left p {
    font-size: 1.4vw;
}

.firstsection__buttons{
    display: flex;
    align-items: center;
}

.firstsection__buttons .find__out__more{
    background-color: #F1A501;
    padding: 1.8vh 1.4vw ;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.firstsection__buttons .play__demo{
    margin-left: 4vw;
    display: flex;
}

.firstsection__buttons .playDemo__circle{
    background-color: #DF6951;
    padding: .8vw;
    border-radius: 50%;
    position: relative;
    height: 1.8vw;
    width: 1.8vw;
}
.playDemo__circle img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1vw;
    width: 1vw;
    margin: auto;
}

.play__demo .playDemo__buton{
    background: none;
    margin-left: 1.6vw;
    border: none;
    outline: none;
    font-size: 1.4vw;
    font-weight: 500;
}
.firstsection__right{
    flex: 5;
}
.firstsection__right img{
    width: 100%;
    height: 80vh;
}

.first__section .decore{
    position: absolute;
    max-width: 50vw;
    width: 50vw;
    top: -35vh;
    right: -13vw;
    z-index: -1;
    
}

@media(max-width: 760px){
    .first__section{
        width: 90%;
        flex-direction: column;
        padding: 10px;
        margin-left: 0;
        position: relative;
        margin-top: 12vh;
        align-items: center;
        height: auto;
        
    }

    .firstsection__right img{
        display: none;
    }

    .firstsection__left{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    .firstsection__left h4{
        font-size: 20px;
        margin: 20px 0;
    }

    .firstsection__left h2{
        font-size: 60px;
        line-height: 80px;
        margin: 20px 0;
    
    }

    .firstsection__left h2 span img{
        top: 20px;
        width: 140%;
    }

    .firstsection__left p {
        font-size: 18px;
        margin: 20px 0;
        margin-bottom: 40px;
    }

    .firstsection__buttons{
        margin-top: 20px;
    }

    .firstsection__buttons .find__out__more{
        padding: 10px 15px ;
        font-size: 18px !important;
    }
    
    .firstsection__buttons .play__demo{
        margin-left: 15px;
    }
    .firstsection__buttons .playDemo__circle{
        padding: 10px;
        border-radius: 50%;
        position: relative;
        height: 15px;
        width: 15px;
    }

    .playDemo__circle img{

        height: 10px;
        width: 10px;
    }

    .play__demo .playDemo__buton{
        margin-left: 10px;
        font-size: 18px;
    }

    .first__section .decore{
        position: absolute;
        max-width: 170vw !important;
        width: 170vw !important;
        top: -35vh;
        right: -13vw;
        z-index: -1;
        
    }
}

@media(max-width: 400px){
    .firstsection__left h4{
        font-size: 18px;
        margin: 15px 0;
        margin-top: 30px;
    }
    .firstsection__left h2{
        font-size: 45px;
        line-height: 60px;
        margin: 15px 0;
    
    }

    .firstsection__left h2 span img{
        top: 15px;
    }

    
    .firstsection__left p {
        font-size: 16px;
        margin: 20px 0;
        margin-bottom: 30px;
    }

    
    .firstsection__buttons .find__out__more{
        padding: 8px 10px ;
        font-size: 15px !important;
    }

    .firstsection__buttons .play__demo{
        margin-left: 10px;
    }

    .firstsection__buttons .playDemo__circle{
        padding: 10px;
        height: 10px;
        width: 10px;
    }

    .playDemo__circle img{

        height: 8px;
        width: 8px;
    }

    .play__demo .playDemo__buton{
        margin-left: 8px;
        font-size: 15px;
    }


}

