.first__section{
    width: 80%;
    display: flex;
    padding: 4vw;
    height: 80vh;
    margin-left: 1.5vw;
    position: relative;
    margin-top: 5vh;
    
}

.firstsection__left{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.firstsection__left h4{
    font-weight: 700;
    font-size: 1.4vw;
    color: #DF6951;
}

.firstsection__left h2{
    font-size: 5.7vw;
    line-height: 5.8vw;
    font-weight: 500;
    font-family: Volkhov;

}

.firstsection__left h2 span{
    position: relative;
}
.firstsection__left h2 span img{
    position: absolute;
    top: 7vh;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: auto;
    width: 24vw;
}

.firstsection__left p {
    font-size: 1.4vw;
}

.firstsection__buttons{
    display: flex;
    align-items: center;
}

.firstsection__buttons .find__out__more{
    background-color: #F1A501;
    padding: 1.8vh 1.4vw ;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.firstsection__buttons .play__demo{
    margin-left: 4vw;
    display: flex;
}

.firstsection__buttons .playDemo__circle{
    background-color: #DF6951;
    padding: .8vw;
    border-radius: 50%;
    position: relative;
    height: 1.8vw;
    width: 1.8vw;
}
.playDemo__circle img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1vw;
    width: 1vw;
    margin: auto;
}

.play__demo .playDemo__buton{
    background: none;
    margin-left: 1.6vw;
    border: none;
    outline: none;
    font-size: 1.4vw;
    font-weight: 500;
}
.firstsection__right{
    flex: 5;
}
.firstsection__right img{
    width: 100%;
    height: 80vh;
}

.first__section .decore{
    position: absolute;
    max-width: 50vw;
    top: -35vh;
    right: -13vw;
    z-index: -1;
    
}